<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Patient Notes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div style="text-align: center">
        <h2>MEDILABO - DIAGNOSIS</h2>
    </div>
    <hr>
    <div class="row" style="text-align: center;"><h4>Patient Notes</h4></div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Note #</th>
                <th>Note</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="note, stat : ${notes}">
                    <td style="width: 10%" th:text="${stat.index + 1}"></td>
                    <td style="width: 80%" th:text="${note.noteField}"></td>
                    <td style="width: 10%">
                        <form th:action="@{/view/noteForm/{id}(id=${note.customId})}" method="post">
                            <button type="submit" class="btn btn-primary">Add note</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <form th:action="@{/view/patientList}" method="GET">
                <button type="submit">Back to Patient list</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>