<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

  <div class="row"><h2>Patient List</h2></div>
  <div class="row">
    <a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Date of Birth</th>
        <th>Genre</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="patient : ${patients}">
        <td style="width: 10%" th:text="${bidList.id}"></td>
        <td th:text="${bidList.account}"></td>
        <td th:text="${bidList.type}"></td>
        <td th:text="${bidList.bidQuantity}"></td>
        <td style="width: 15%" class="text-center">
          <a th:href="@{/bidList/update/{id}(id=${bidList.id})}">Update</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>