<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div style="text-align: center">
    <h2>MEDILABO - DIAGNOSIS</h2>
  </div>
  <hr>
  <div class="row" style="text-align: center;"><h4>Patient List</h4></div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Date of Birth</th>
        <th>Genre</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Risk Level</th>
        <th>Patient Form</th>
        <th>Patient Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="patient : ${patients}">
        <td style="width: 4%" th:text="${patient.patientId}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.dateOfBirth}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phoneNumber}"></td>
        <td th:text="${patient.riskLevel}"></td>
        <td style="width: 16%" class="text-center">
          <div class="col-sm-12">
            <form th:action="@{/view/updateFormPatient/{id}(id=${patient.patientId})}" method="get">
              <button type="submit" class="btn btn-primary">Update patient details</button>
            </form>
          </div>
        </td>
        <td style="width: 15%" class="text-center">
          <div class="col-sm-12">
            <form th:action="@{/view/listNote/{id}(id=${patient.patientId})}" method="get">
              <button type="submit" class="btn btn-primary">View patient notes</button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>