<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Note Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div style="text-align: center">
        <h2>MEDILABO - DIAGNOSIS</h2>
    </div>
    <hr>
    <div class="row" style="text-align: center;">
        <h4>Note Form</h4>
    </div>
    <div class="col-md-10 offset-md-1">
        <label for="noteField">Please type a new note in the box below.</label>
        <form th:action="@{/view/addNote}" th:object="${note}" method="POST" class="form-horizontal"
              style="width: 100%">
            <div class="form-group">
                <textarea th:field="*{noteField}" id="noteField"
                          class="form-control" style="height: 15em">
                </textarea>
            </div>
            <input type="hidden" th:name="customId" th:value="${note.customId}">
            <button type="submit" class="btn btn-primary">Submit Note</button>
        </form>
        <div class="form-group" style="margin-top: 2em">
            <form th:action="@{/view/patientList}" method="GET">
                <button type="submit">Back to Patient list</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>